<div id="comment_container">
    
    <form id="comment_register_form" method="POST" action="">
      <input id="writer_comment" placeholder="작성자"  type="string" class="comment_writer"></input>
      <input id="content_comment" placeholder="내용" type="string" class="comment_content"></input>
      <button class="register_add">+</button>
    </form>

<div id="comment_list_container">
  <div id="comment_list">

    <!-- <div class="comment_item" id="<%=post.comments[i]._id%>item">
      <span  id="<%=post.comments[i]._id%>writer" class="comment_writer"><%=post.comments[i].writer%></span>
      <span id="<%=post.comments[i]._id%>content" class="comment_content"><%=post.comments[i].content%></span>
      <button  class="comment_edit" id=<%=post.comments[i]._id%>  onClick="editComment()" >수정</button>
      <button  class="comment_delete" id=<%=post.comments[i]._id%>>삭제</button>
      <button  class="comment_add" id=<%=post.comments[i]._id%>>+</button>
    </div> -->

    

  </div>


  <!-- <div class="recomment_item">
    <span class="recomment_writer">작성자</span>
    <span class="recomment_content">내용</span>
    <button class="recomment_edit">수정</button>
    <button class="recomment_delete">삭제</button>
  </div> -->
  <!-- <% } %> -->
</div>

</div>
