<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <header>
      <h1><%=title%></h1>
      <a href="/">HOME</a>

      <%if(myName){%>
      <span class="myName"
        ><%=myName%>님 반갑습니다. 이 닉네임은 20분 동안 사용할 수
        있습니다.</span
      >
      <%}else{%>
      <span class="myName">글이나 댓글을 쓰시면 닉네임이 생깁니다.</span>
      <%}%>
    </header>
    <main>
      <% if (page==="list") { %> <%- include('list') %> <% }else
      if(page==="post"){%> <%- include('post') %> <% }else if(page==='edit'){%>
      <%- include('edited') %> <%}else if(page="add"){%><%-
      include('add')%><%}%>
    </main>

    <footer><%=page%>페이지</footer>
  </body>

  <script src="static/javascript/index.js"></script>
  <script src="static/javascript/post.js"></script>
  <script src="static/javascript/add.js"></script>
</html>
